.ImageLoader {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  background: #000;
  &.Loading {
    opacity: 0.9;
    transition: opacity 1000ms;
  }
  &.Loaded {
    opacity: 1;
  }
  &.Error {
  }
  filter: grayscale(100%);
  transition: opacity 1000ms;
}
