.ImageLoader {
  position: absolute;
  left: -10px;
  top: -10px;
  /*
  left: 0;
  top: 0;
  */
  background: #000;
  transform: scale(1.05);

  &.Loading {
    opacity: 0.9;
    transition: opacity 1000ms;
  }
  &.Loaded {
    opacity: 1;
  }
  &.Error {
  }
  filter: sepia(500%) saturate(400%) blur(5px) grayscale(50%);
  transition: opacity 1000ms;
}
