.FogPage {
  position: relative;
  height: 100vh;
  text-align: center;
  & img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
  }
  & p {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 78%;
    color: #FFF;
    line-height: 66px;
    font-size: 44px;
    font-weight: 600;
    transform: translate(-50%, -50%);
  }
}
