.IndexPage {
  text-align: center;
  margin-top: 60px;
  & ul {
    display: inline-block;
    list-style: none;
    & li {
      display: block;
      text-align: center;
      & a {
        color: #000;
        font-size: 50px;
        text-decoration: none;
      }
    }
  }
}
