.Header {
  text-align: right;
  & .linkWrapper {
    margin: 0 auto;
    max-width: 960px;
    & .header {
      & .link {
        color: #FFF;
        text-decoration: none;
        & :global(.header) {
          stroke-width: 3px;
          stroke-dasharray: 1450px;
          & :global {
            animation: 100ms write;
          }
        }
      }
    }
  }
}

@keyframes :global(write) {
  0% {
    stroke-dashoffset: 1450px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
